body,
html {
  background-color: #c3cad3;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}
.full-page-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
header {
  display: flex;
  width: 100%;
  height: 10%;
}
main {
  display: flex;
  width: 100%;
  height: 70%;
  flex-direction: column;
  align-items: center;
}
.score-board-left {
  color: red;
  width: 50%;
  height: 20%;
  font-weight: bold;
}
.score-board-right {
  color: blue;
  width: 50%;
  height: 20%;
  font-weight: bold;
}
.current-player {
  width: 100%;
}

.main-game-area {
  width: 80%;
  height: 100%;
}

canvas {
  height: 100%;
  width: 100%;
}
button {
  height: 40px;
  width: 70px;
}

table {
  height: 100%;
  width: 100%;
  border: 3px solid black;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  border: 3px solid black;
  background-color: #a4b0bd;
  transition: all 0.5s linear;
  font-weight: bold;
}
td:hover {
  background-color: #777e8b;
}

footer {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Modal Css*/

.modal {
  z-index: 1;

  height: 60%;
  width: 90%;
  background-color: Black;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.7s linear;
}
.modal-heading {
  background-color: black;
  color: white;
}
.modal-content {
  color: White;
  font-weight: bold;
  font-size: 3rem;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-close {
  position: absolute;
  color: white;
  font-weight: bold;
  top: 0;
  right: 0;
}

.modal-holder {
  display: none;

  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
}
